
.ex-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    
}

.name{
    font-size: 25px;
    width: 7rem;
    font-style: bold;
    
}
.price{
    width: 7rem;
    font-size: 25px;
    font-style: bold;
}
.rank{
    width: 7rem;
    font-size: 25px;
    font-style: bold;
}
